<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<html xmlns="w3.xhtml">
<head>
    <title>admin page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/webjars/sockjs-client/1.0.2/sockjs.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.js"></script>
    <script type="text/javascript">
        var stompClient = null;

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('response').innerHTML = '';
        }

        function connect() {
            var socket = new SockJS('/server'); // WebSocketに接続
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/client', function (message) { // 挨拶の応答(/topic/greetings)を購読する
                    showMessage(JSON.parse(message.body));
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendValue() {
            var name = document.getElementById('name').value;
            stompClient.send("/app/server", {}, JSON.stringify({'value': name})); // メッセージを送信
        }

        function showMessage(body) {
            var message=body.value;
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(message));
            response.insertBefore(p,response.firstChild);
            response.appendChild(p);

            if(body.type==="time"){
                var time=600000-body.value;
                document.getElementById('timer').innerHTML="<h1><center>"+Math.round(time/1000)+"</center></h1>";
            }

            if(body.type==="damage"){
                var tmp = Math.round(message*255/100);
                var color = ("000000"+((255-tmp)*0x010000+tmp*0x000100).toString(16)).slice(-6);
                var dir=null;
                if(body.id==="right"){
                dir="left";
                }else{
                dir="right";
                }
                document.getElementById(body.id+'_bar').style="width: "+message+"%;float:"+dir+";background-color:#"+color.toString(16)+";";
            }
        }
        $(function(){
            connect();
        });

    </script>
</head>
<body onload="disconnect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<div style="position: relative;">
    <div style="position:relative; top:0;left:0;width:45%;">
        <div id="prog-bar1" class="progress" style="width:100%;">
            <div id="left_bar" class="progress-bar" style="width: 100%;float:right;background-color:#00FF00;"></div>
        </div>
        <img src="http://192.168.1.161:8070/?action=stream" style="width: 100%"/>
    </div>
    <div style="position:absolute; top:0;left:0;width:100%;">
        <h1 style="color:#FF0000">赤</h1>
    </div>
    <div id="timer" style="position:absolute; top:0;left:45%;width:10%;">
        neko
    </div>

    <div style="position:absolute; top:0;left:55%;width:45%;">
        <div id="prot-bar2" class="progress" style="width:100%;">
            <div id="right_bar" class="progress-bar" style="width: 100%;float:left;background-color:#00FF00;"></div>
        </div>
        <img src="http://192.168.1.161:8071/?action=stream" style="width: 100%"/>
    </div>
    <div style="position:absolute; top:0;left:55%;width:45%;">
        <h1 style="color:#0000FF">青</h1>
    </div>
</div>

<div>
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <div id="conversationDiv">
        <label>Message</label><input type="text" id="name"/>
        <button id="sendValue" onclick="sendValue();">Send</button>
        <form action="/startTimer" method="post">
            <button type="submit" >タイマースタート</button>
        </form>
        <form action="/endTimer" method="post" onclick="$form.su">
            <button type="submit">タイマーリセット</button>
        </form>
        <p id="response"></p>
    </div>
</div>
</body>
</html>