<!DOCTYPE html>
<html xmlns="w3.xhtml">
<head>
    <title>LiteViewer</title>
    <meta charset="utf-8"/>

    <script src="/webjars/sockjs-client/1.0.2/sockjs.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.js"></script>
    <script type="text/javascript">
        var stompClient = null;

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
        }

        function connect() {
            var socket = new SockJS('/server'); // WebSocketに接続
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/client', function (message) { // 挨拶の応答(/topic/greetings)を購読する
                    showMessage(JSON.parse(message.body));
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendValue() {
            var name = document.getElementById('name').value;
            stompClient.send("/app/server", {}, JSON.stringify({'value': name})); // メッセージを送信
        }

        function showMessage(body) {

            if(body.type==="time"){
                var time1=120000-body.value;
                document.getElementById('timer1').innerHTML="<h1><center>"+Math.round(time1/1000)+"</center></h1>";
            }else{
                var message=body.value;
                var response = document.getElementById('response');
                var p = document.createElement('p');
                p.style.wordWrap = 'break-word';
                p.appendChild(document.createTextNode(message));
                response.insertBefore(p,response.firstChild);
            }

            if(body.type==="damage"){
                var tmp = Math.round(message*255/100);
                var color = ("000000"+((255-tmp)*0x010000+tmp*0x000100).toString(16)).slice(-6);
                var dir=null;
                if(body.id==="right"){
                dir="left";
                }else{
                dir="right";
                }
                document.getElementById(body.id+'_bar').style="width: "+message+"%;float:"+dir+";background-color:#"+color.toString(16)+";";
            }
        }

        $(function(){
            connect();
        });

    </script>
</head>
<body onload="disconnect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<div style="position: relative;">
    <div style="position:relative; top:0;left:0;width:45%;">
        <img src="http://192.168.1.161:8070/?action=stream" style="width: 100%"/>
    </div>
    <div style="position:absolute; top:0;left:40%;width:100%;">
        <h1 style="color:#FF0000">赤</h1>
    </div>
    <div id="timer1" style="position:absolute; top:0;left:45%;width:10%;">
        neko
    </div>
    <!--<div id="timer2" style="position:absolute; top:90%;left:45%;width:10%;">-->
        <!--neko-->
    <!--</div>-->

    <div style="position:absolute; top:0;left:55%;width:45%;">
        <img src="http://192.168.1.161:8071/?action=stream" style="width: 100%"/>
    </div>
    <div style="position:absolute; top:0;left:55.5%;width:45%;">
        <h1 style="color:#0000FF">青</h1>
    </div>
</div>

<div style="position:relative;">
    <div>
        <div style="position:absolute;top=0;">
            <button id="connect" onclick="connect();">Connect</button>
            <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
            <div id="conversationDiv">
                <label>Message</label><input type="text" id="name"/>
                <button id="sendValue" onclick="sendValue();">Send</button>
                <p id="response"></p>
            </div>
        </div>
        <h1><center>ASUSのアクセスポイントに繋いで<br/>
            http://192.168.1.161:8080/lite<br/>
            にアクセスすると見れるよ<br/></center></h1>
    </div>
</div>
</body>
</html>
